.idea
.ipynb_checkpoints
__pycache__

*.pyc

data
figures/
presentation/presentation.aux
presentation/presentation.log
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.pdf
presentation/presentation.snm
presentation/presentation.synctex.gz
presentation/presentation.toc

*.npy
